<html>
<head>
<title>
Graf Teploty!!
</title>
<script>
var c = document.getElementById("myCanvas");
c.style.width=window.innerWidth;
c.style.height=window.innerHeight;
</script>
</head>
<body>
<canvas id="myCanvas" width=>
Your browser does not support the HTML canvas tag.</canvas>

<script>
var c = document.getElementById("myCanvas");
c.style.width=window.innerWidth;
c.style.height=window.innerHeight;

var ctx = c.getContext("2d");
ctx.moveTo(0,0);
{% for i in data%}
ctx.lineTo({{i[0]}},{{i[1]}});
{%endfor%}
ctx.stroke();
</script>
</body>
</html>
